* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font size*/
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /*Font weight*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Colores*/

  --primary-color: #b4715b;
  --btn-color: #a35e4e;
  --color_titulos: #3b3b3b;

  --color_texto: #363636;
  --gris_oscuro: #363636;
}

body,
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

/*------BARRA DE NAVEGACIÓN---------------*/
.navegacion {
  height: 96px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 1px 2px var(--primary-color);
}
.navegacion__contenedor {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.navegacion__lista {
  display: flex;
  gap: 36px;
  height: 100%;
  align-items: center;
  list-style: none;
}
.navegacion__bars {
  display: none;
}
.navegacion__item {
  position: relative;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navegacion__item::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  inset: 0;
  margin: auto;
  top: 35px;
  transition: width 0.2s linear;
}

.navegacion__item:hover .navegacion__link {
  color: var(--primary-color);
}

.navegacion__item:hover::after {
  width: 100%;
}

.navegacion__item a {
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  color: var(--color_texto);
}

.navegacion__logo {
  width: 85px;
  margin-top: 5px;
}

.navegacion__cerrar {
  width: 16px;
  display: none;
  cursor: pointer;
}

.contenido__portada {
  position: relative;
}

.contenido {
  margin-top: 96px;
}

.contenido__img {
  aspect-ratio: 16/9;
  width: 100%;
  max-height: 630px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(242, 233, 226, 0) 47%
    ),
    url("./assets/img/imagen.jpeg");
  background-size: cover;
  background-position: 0 30%;
}

.contenido__titulo {
  text-align: center;
  font-size: var(--font-size-xl);
  position: absolute;
  inset: 0;
  top: 20px;
  color: #faf5f2;
  text-shadow: 0 5px 25px black;
}
/* .contenido__titulo :is(h3,p){
  
} */
/*NAVEGACIÓN - SUBMENU*/
.navegacion__item--posicion {
}
.navegacion__item--posicion:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion__icono {
  transition: transform 0.6s ease;
}
.navegacion__item--posicion:hover .navegacion__icono {
  transform: rotate(180deg);
}

.submenu {
  position: absolute;
  top: 96px;
  right: -110px;
  background-color: #f7f7f7;
  width: 220px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.2);
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: display 0.6s, opacity 0.3s ease, transform 0.3s ease;
  transition-behavior: allow-discrete;
}

.submenu_elemento {
  list-style: none;
  text-align: center;
  padding: 15px 0;
  height: 50%;
  line-height: 40px;
  border-radius: inherit;
  background-color: #f7f7f7;
}

.submenu li:nth-child(n) {
  box-shadow: 0 1px 4px #9e9e9e;
}
/* .submenu_elemento:first-child {
  box-shadow: 0 .5px 2px #9e9e9e;
  border-radius: 0;
} */
.submenu_elemento:last-child {
}

.submenu_elemento:hover {
  background-color: white;
  color: var(--primary-color);
}
.submenu_elemento:hover a {
  color: var(--primary-color);
}

/* ESTILOS DEL BANNER*/
.banner {
  height: auto;
  min-width: 375px;
  min-height: 180px;
  background-color: #faf5f2;
  color: var(--color_titulos);
  text-align: center;
  box-shadow: 0 5px #d3b19e;
  display: flex;
  align-items: center;
  padding: 15px;
}

.banner__texto {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 15px;
  overflow: hidden;
}

.banner__titulo {
  font-size: var(--font-size-l);
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  transition: clip-path 0.5s linear;
  @starting-style {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

.banner__parrafo {
  font-size: var(--font-size-m);
  transform: translateX(0);
  color: var(--color_texto);
  transition: transform.5s 0.5s ease;
  @starting-style {
    transform: translateX(200%);
  }
}

/* ESTILOS DE DESCRIPCION*/

.categorias {
  padding: 0.1px;
  padding: 64px 70px;
}



.categorias__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  text-align: center;
}

.categorias__lista h3 {
  font-size: var(--font-size-l);
  color: var(--color_titulos);
  margin-bottom: 20px;
}

.categorias__btn {
  margin-top: 20px;
  padding: 15px 100px;
  border-radius: 8px;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: white;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-top: 18px;
  transition: 0.4s ease;
}
.categorias__btn:hover {
  background-color: white;
  color: var(--btn-color);
}

.categorias__btn:active {
  background-color: #9a5345;
}

.categorias__btn--seminario {
  background-color: white;
  color: var(--btn-color);
  font-weight: var(--font-weight-semibold);
  border: 2px solid var(--btn-color);
  padding: 15px 75px;
  transition: 0.4s ease;
}

.categorias__btn--seminario:hover {
  background-color: var(--btn-color);
  color: white;
}

.seminario {
  margin: 20px 0;
}
.evangelismo {
  margin: 20px 0;
}
.nosotros {
  margin: 20px 0;
}

.descripcion__img {
  aspect-ratio: 1;
  object-fit: cover;
  max-width: 320px;
  min-width: 250px;
  border-radius: 5px;
  box-shadow: 0 1px 5px var(--color_titulos);
  transition: transform 0.6s ease;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.descripcion__img:hover {
  transform: scale(1.05) translateY(-5px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color); */
}

.descripcion {
  padding: 64px 50px;
}

.descripcion__titulo {
  text-align: center;
  font-size: var(--font-size-xl);
  margin-bottom: 70px;
  color: var(--color_titulos);
}

.descripcion__elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
  padding: 20px 25px;
  text-align: center;
  flex-wrap: wrap;
}

.descripcion__elemento {
  max-width: 410px;
}

.elemento {
  color: var(--color_titulos);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-m);
  margin: 15px 0;
}

.elemento__texto {
  font-size: var(--font-size-m);
  color: var(--color_texto);
  text-wrap: wrap;
}
.elemento__texto strong {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  display: block;
  color: #363636;
}

.descripcion__icono {
  fill: #a35e4e;
  cursor: pointer;
  transition: transform 0.3s linear;
  transform: translateY(0);
  opacity: 1;
}

.descripcion__elemento:hover .descripcion__icono {
  fill: #d3b19e;
  transform: translateY(-20%) scale(1.05);
}

/*INFORMACIÓN GENERAL*/

.informacion-general {
  background-color: #faf5f2;
  padding: 64px 50px
}

.informacion-general__titulo {
  text-align: center;
  color: var(--color_titulos);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.informacion-general__container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 90px;
  justify-content: center;
}

.informacion-general__direccion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color_titulos);
  align-items: start;
  justify-content: center;
}

.informacion-general__direccion p {
  color: var(--color_texto);
}

.informacion-general__direccion h3 {
  font-size: var(--font-size-l);
  margin: 15px 0;
  color: var(--color_titulos);
  align-self: center;
}

/* .informacion-general__direccion figure:first-of-type{

} */

.informacion-general__direccion figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.informacion-general__direccion p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
}

.informacion-general__ubicacion h3 {
  color: var(--color_titulos);
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--font-size-l);
}

.informacion-general__ubicacion {
  text-align: center;
  width: 35%;
  min-width: 370px;
}

.informacion-general__google-maps {
  aspect-ratio: 16/9;
  max-width: 600px;
  width: 90%;
  min-width: 300px;
  box-shadow: 0 2px 5px var(--gris_oscuro);
  margin-inline: auto;
}

.informacion-general__iconos {
  width: 45px;
}

span {
  font-weight: var(--font-weight-semibold);
  color: #363636;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
}
/*FOOTER*/

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 80px;

  justify-content: space-around;
  background-color: #faf5f2;
  gap: 20px;
}

.formulario
  :is(
    .formulario__nombre,
    .formulario__correo,
    .formulario__tema,
    .formulario_mensaje
  )::placeholder {
  font-size: var(--font-size-m);
}

.formulario {
  flex-grow: 1;
}

.formulario__nombre {
  margin-right: 25px;
}
.formulario__correo {
  margin-top: 30px;
}
.formulario__nombre,
.formulario__correo {
  padding: 20px 100px 20px 5px;

  border: 1px solid var(--gris_oscuro);
}
.formulario__tema {
  display: block;
  padding: 20px 0 20px 5px;
  width: 100%;
  margin: 30px 0;
  border: 1px solid var(--gris_oscuro);
}
.formulario_mensaje {
  resize: none;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.formulario__btn {
  margin-top: 20px;
  padding: 15px 65px;
  color: white;
  font-size: var(--font-size-m);
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  font-weight: var(--font-weight-medium);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}

.formulario__btn:hover {
  background-color: white;
  color: var(--btn-color);
}

.formulario__btn:active {
  background-color: #9a5345;
}

.footer__informacion {
  width: 35%;
  min-width: 250px;
  font-size: var(--font-size-m);
  flex-grow: 1;
}

.footer__informacion h3 {
  font-size: var(--font-size-xxl);
  color: var(--color_titulos);
  margin: 10px;
}

.footer__informacion article {
  margin: 20px 0;
}

.footer__informacion__texto {
  font-size: var(--font-size-m);
  margin-bottom: 15px;
}

.footer__informacion__direccion p:first-child {
  font-weight: var(--font-weight-semibold);
}

.footer__informacion__correo p:first-child {
  font-weight: var(--font-weight-semibold);
}

/*RESPONSIVE DESIGN*/

@media (width<=850px) {
  :root {
    /*Font size*/
    --font-size-xs: 0.9rem;
    --font-size-s: 1rem;
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  .navegacion__lista {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f7f7f7;
    flex-direction: column;
    padding-top: 100px;
    gap: 45px;
    transition: top 0.6s ease, right 0.6s ease;
  }

  body.show-mobile-menu .navegacion__lista {
    right: 0;
    top: 0;
  }

  body.efecto header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
  }

  body.efecto .navegacion__logo {
    filter: blur(5px);
  }

  .navegacion__item {
    height: auto;
  }

  .navegacion__bars {
    display: block;
  }

  .navegacion__logo {
    width: 60px;
  }
  .navegacion__cerrar {
    width: 16px;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .submenu {
    position: absolute;
    top: 30px;
    right: -90px;
    background-color: #ffffff;
    width: 290px;
    height: 120px;
    z-index: 1;
    border-radius: 0;
    box-shadow: 0 1px 5px black;
  }

  .contenido__img {
  }

  .contenido__titulo {
    font-size: var(--font-size-l);
    top: 50px;
    left: 0;
  }
}

@media (width<=580px) {
  :root {
    /*Font size*/
    --font-size-xs: 0.8rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.1rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
  }

  .contenido__titulo {
    font-size: var(--font-size-xs);
    top: 30px;
    left: 0;
  }
  .banner__titulo {
    text-align: center;
  }
  .banner__parrafo {
    text-align: left;
  }
  .footer__informacion__texto {
    font-size: var(--font-size-s);
  }

  .formulario__btn {
    margin-inline: auto;
    display: block;
  }
}

@media (width<=453px) {
  .elemento__texto {
    text-align: left;
  }

  .elemento__texto strong {
    text-align: center;
    display: inline-block;
  }

  .footer {
    padding: 20px 60px;
  }
  .formulario__nombre,
  .formulario__correo {
    padding: 20px 80px 20px 5px;

    border: 1px solid var(--gris_oscuro);
  }
  .formulario__tema {
    padding: 20px 0 20px 5px;
    width: 90%;
  }
  .formulario_mensaje {
    width: 90%;
  }
}
