body{
     /*Font size*/
  --font-size-xs:0.9rem;
  --font-size-s:1rem;
  --font-size-m:1.2rem;
  --font-size-l :1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl:2.3rem;

  /*Font weight*/
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;
    --primary-color: #b4715b;
    --color_titulos: #545454;
    --color_texto: #676767;
    --gris_oscuro: #363636;
}
.diaconos{
    margin-top: 96px;
}

.diaconos__texto{
    background-color: #b4715b;
    color: #FAF5F2;
    padding: 20px 50px;
}

.diaconos__texto p{
    padding: 0 100px;
    font-size: var(--font-size-m);
}

.diaconos__titulo{
    text-align: center;
    color: #FAF5F2;
    font-size: var(--font-size-xl);
}

.diaconos__lista{
    margin: 70px ;
    margin-inline:auto ;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.diaconos__item{
    background-color: #FAF5F2;
    border-radius: 5px;
    width: clamp(320px, 30%,400px);
    box-shadow: 0 1px 2px #b4715b;
    /* min-width: 320px;
    max-width: 400px;
    min-height: 500px; */
}

.diaconos__item p{
    padding:  0 15px;
}
.diaconos__img{
    object-fit: cover;
    border-radius: 10px;
    object-position: 0 10%;
    width: 100%;
    height: 60%;
}

.diaconos__nombre{
    text-align: center;
    color: #b4715b;
    margin: 10px 0;
    font-size: var(--font-size-l);
}

@media(width<=850px){

    body{
        /*Font size*/
     --font-size-xs:0.9rem;
     --font-size-s:1rem;
     --font-size-m:1rem;
     --font-size-l :1.2rem;
     --font-size-xl: 1.6rem;
     --font-size-xxl:2rem;
   
     /*Font weight*/
     --font-weight-normal:400;
     --font-weight-medium:500;
     --font-weight-semibold:600;
     --font-weight-bold:700;
       --primary-color: #b4715b;
       --color_titulos: #545454;
       --color_texto: #676767;
       --gris_oscuro: #363636;
   }

    .diaconos__texto{

        padding: 20px 20px;
    }

    .diaconos__texto p{
        padding: 0 20px;
       
    }
}